
$pathBrand : url(/images/brand-bg.svg);
$pathSmile: url(/images/close-smiling-african-american-employee-look-1209553408.png);

header {
    // height: 30%;
    
    border: 1px solid green;
    

    .container {
        display: flex;
        justify-content: space-between;
        height:100vh;

        // justify-content: flex-end;
    }

    // .over-img{
    //     border: 3px solid red;
       
    //     width: 100%;
        
    //     // flex:1;
    //     // width:auto;
    //     // height: auto;
    //     position: absolute;
    //     // width: 1250px;
    //     // height: 100px;
        
       
    //     // background-image: $pathURL;
    //     // background-repeat: no-repeat;
    //     // height: 900px;
    //     display: flex;
    //     .left{
    //         border: 3px solid green;
    //         // background-image: $pathBrand;
    //         // background-repeat: no-repeat;
    //         // background-size: contain;
    //         flex:1;
    //     }
    //     .right{
    //         flex:1;
    //         border: 3px solid yellow;
    //     }

    // }
    .left-block{
        // flex:1;
        border:1px solid yellow;
    }
    .right-block{
        border: 1px solid purple;
        height: 50%;
        background-image: $pathSmile;
        background-repeat: no-repeat;
        background-position: 100% 50%;

        // background-size: cove;
        // height: 900px;
        // flex:2;
        
        width:100%;
        // flex:1;
    }
}

