.banner-cta {
    background-color: $blue;
    height: auto;
    color: white;
    background-image: url('/img/bg-lines.svg');
    background-repeat: no-repeat;
    background-position: center;

    .container {

        .content {
            margin-top: 80px;
            padding-top: 80px;
            display: flex;
            justify-content: center;

            .column {
                width: 60%;

                .column-subtitle{
                    text-align: center;
                }

                // margin: 0px auto;
                .column-desc{
                    margin-top: 20px;
                    text-align: center;
                }
                .column-btn {
                    margin-top: 40px;
                    margin-bottom: 80px;
                    text-align:center;
                }

            }
        }
    }

    .lines {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}