.three-columns{
    justify-content: space-around;
    margin-top: 80px;
    
    .title-column{
        margin-top:80px;
    }
    .column{
        position: relative;
        margin: 0px 30px;
        // width:33,3%;
        display:flex;
        flex-direction: column;
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: calc(100% + 15px);
            width: 1px;
            height: 100%;
            background: #e8e9eb;
        }
        
        &:last-child {
            &:before {
                display: none;
            }
        }


        
        // &:first-child {
        //     // border: 2px solid red;
        // }
        // &:not(.support) {
        //     border: 2px solid green;
        // }

    }
    .text-column{
        // flex:1;
        margin-top:20px;
    }
}



.img-column{
    // width:80%;
    // padding: 0px 5px;
    // align-self:center;
    // position: relative;
}



.image{
    // position: absolute;
  
  
}