.career-dev{
    
    .tw-columns{
        margin-top: 80px;

        .column {
            width: calc(50% - 5px);
        }
    }


    .title-column{
        // margin-top:40px;
        
    }
    .text{
        margin-top:20px;
    }
    .column{
        // padding:40px;
    }
    .img-column{
     justify-content: center;
    }
    img{
        margin: 32px 0px;
    }
    .info{
        padding:40px;
    }

    .learn-more{
        margin-top:76px;
    }
}