
header {
    // position:;
    // position: absolute;

    .content{
        // border: 1px solid purple;
        position: absolute;
        // width: 60%;
        left: 20%;
        right: 20%;
        z-index:2;
        display: flex;
        flex-direction: column;

    .button-block{

        // border: 1px solid green;
        height: 100px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            .white-logo{
                width: 139px;
                height: 40px;
                object-fit: contain;
            }
        }

        .right{
            display:flex;
            flex-direction: row;
            align-items: center;
            .links{
                margin-right: 25px;
            }
            .nav-link{
                width: 89px;
                height: 24px;
                text-decoration: none;
                margin-left: 5px;
                font-family: CenturyGothic;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: 0.2px;
                color: #ffffff;

                &:hover{
                    color:#7385ec;
                }
            }
        }

        

        
    }

    .title-header{
        // border: 1px solid yellow;
        position: relative;
        font-family: CenturyGothic;
        font-size: 80px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: 0.2px;
        color: #ffffff;
        margin-top: 69px;

        // &:before {
        //     content: '\e901';
        //     position: absolute;
        //     font-family: icomoon;
        //     font-size: 14px;
        //     left: -20px;
        //     top: 50%;
        //     transform: translateY(-50%);
        // }
    }
    
    .description{
        
    }

    }
}