.industry-report{
    background-color: #1a3cfa;
    height: 380px;

    .container{
        margin: 0px auto;
        .info{
            margin-top:80px;
            padding-top:80px;
            // display:flex;
            // flex-direction: column;
            align-items: center;
            // justify-content: center;
            .middle-title{
                margin-top: 20px;
            }
            .download-report{
                margin-top:40px;
            }
        }
        
    }

    

    .lines{
        position: absolute;
        right:45%;
    }
}