.industry-report{
    background-color: #1a3cfa;
    height: 380px;
    position: relative;

    .container{
        
        .info{
            color:white;
            margin-top:80px;
            padding-top:80px;
            // display:flex;
            // flex-direction: column;

            align-items: center;
            justify-content: center;
            .row{
                display: flex;
                justify-content: center;
            }
            .info-title{
                margin-top: 20px;
                width:40%;
            }
            .download-report{
                margin-top:40px;
            }
        }
        
    }

    

    .lines{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
    }
}