$containerWidth: 60%;

.section1{
    position: absolute;
        width: $containerWidth;
        left: 20%;
        right: 20%;
        border: 1px solid green;
    display: flex;
    flex-direction: column;
   

    .section1-title{
        margin-top: 120px;
        border: 1px solid black;
        align-self: center;
    }

    .section1-content{
        border: 1px solid yellow;
        margin-top: 80px;
        display: flex;
        
        .section1-img{
            border:1px solid red;
            width:30%;
        }

        .section1-info{
            
        }
    }
    

}