.three-columns {
    .container {
        .content {
            .content-title {
                margin-bottom: 80px;
                color: $transparent-black;
            }
            .columns {
                .column {
                    width: calc((100% / 3) - 29.5px);
                    margin: 5px;
                    position: relative;
                    .column-subtitle {
                        margin-top: 80px;
                    }
                    .column-desc {
                        margin-top: 22px;
                        color: $gray;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: calc(100% + 15px);
                        width: 1px;
                        height: 100%;
                        background: $light-gray;
                    }
                    &:last-child {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}