.two-cards {
    .container {
        .content {
            .cards {
                .card {
                    border-radius: 20px;
                    width: calc(50% - 10px);

                    .card-img {
                        margin: 32px auto;
                        text-align: center;
                    }

                    .info {
                        padding: 40px;
                        position: relative;

                        &:before {
                            content: '';
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            background: $light-white;
                        }

                        .card-subtitle {
                            color: black;
                        }

                        .card-desc {
                            margin: 20px 0px;
                            color: $gray;
                        }

                        .card-btn {
                            margin-top: 76px;
                        }
                    }
                }
            }
        }

        .content-title {
            margin-bottom: 80px;
            color: $transparent-black;
        }
    }
}