.two-cards {
    .container {
        .content {
            .cards{
                .card{
                    border-radius: 20px;
                    width: calc(50% - 10px);
                    .card-img {
                        
                        margin: 32px auto;
                        width: calc(100% - 250px);
                        // position: relative;
                        
                        img{
                            // height: auto;
                            width:100%;
                        }
                        
                    }

                    .info{
                        padding: 40px;
                        position: relative;
                        &:before{
                            content:'';
                            width: 100%;
                            height:3px;
                            position: absolute;
                            top:0px;
                            left:0px;
                            // margin: 3px 0px;
                            // padding: 2px;
                            // bottom:0px;
                            // right:5px;
                            background: $secondary;
                        }
                        .card-subtitle {
                            color: #000000;
                            // margin-top: 40px;
                        }
        
                        .card-desc {
                            margin: 20px 0px;
                            color: #666666;
                        }
        

                        .card-btn {
                            margin-top: 76px;
                        }

                        
                    }
                   
    
                    
                    
                }
                
            }
           
        }

        .content-title {
            margin-bottom: 80px;
            color: #2d2d2d;
        }
    }
}