

$containerWidth: 60%;

.two-columns{
    display: flex;
    flex-direction: column;
   

    .title{
        align-self: center;
    }

    .content{
       
        margin-top: 80px;
        display: flex;
        
        .happy-people{
            
            width:50%;

            img{
                width:100%;
            }
        }

        .info{
            width:50%;
            margin-left:120px;
            margin-top:28px;
        }
    }
    

}