.two-columns {
    .container {
        .content {
            .column {
                .column-subtitle {
                    color: #000000;
                    margin-top: 40px;
                }

                .column-desc {
                    margin: 20px 0px;
                    color: #666666;
                }

                .column-img {
                    display: flex;
                    justify-content: center;
                }

                .column-btn {
                    margin-top: 40px;
                }

                width: calc(50% - 60px);

            }
        }

        .content-title {
            margin-bottom: 80px;
            color: #2d2d2d;
        }
    }
}
