.btn {
  position: relative;
  border-radius: 10px;
  border: none;
  padding: 18px 54px 18px 29px;
  // color:white;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-decoration: none;

  transition: background-color 0.5s, color 0.5s;
}

.btn-sign-in {
  color: #ffffff;
  border: solid 1px #ffffff;
  background: none;
  padding: 13px 20px 13px 54px;
  font-size: 14px;
  line-height: 1.71;
  

  &:before {
    content: '\e902';
    position: absolute;
    font-family: icomoon;
    font-size: 14px;
    left: 20px;
    // left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: #ffffff;
    color: #1a3cfa;

  }
}

.hero-button {
  background-color: #ffffff;
  color: #1a3cfa;

  
  &:after {
    content: '\e901';
    position: absolute;
    font-family: icomoon;
    font-size: 20px;
    right: 29px;
    // color:white;
    // right: -25px;
    top: 50%;
    transform: translateY(-50%)
  }


  &:hover {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;

  }
}

.btn-learn-more {
  border-radius: 10px;
  border: solid 1px #1a3cfa;
  padding: 18px 46.5px 18px 23.5px;
  color: #1a3cfa;

  &:after {
    font-family: icomoon;
    // color:#1a3cfa;
    content: '\e901';
    position: absolute;
    font-size: 16px;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background: #1a3cfa;
    color: #ffffff;
  }
}

.btn-download {
  border: solid 1px #ffffff;
  color: #ffffff;

  padding: 18px 51px 18px 26px;

  &:hover {
    background-color: #ffffff;
    color: #1a3cfa;
  }

  &:after {
    content: '\e901';
    font-family: 'icomoon';
    font-size: 16px;
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn-learn {
  color: #1a3cfa;
  border: solid 1px #1a3cfa;
  padding: 18px 57px 18px 33px;

  &:after {
    font-family: icomoon;
    // color:#1a3cfa;
    content: '\e901';
    position: absolute;
    font-size: 16px;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background: #1a3cfa;
    color: #ffffff;
  }
}

.btn-send {
  background-color: #1a3cfa;
  color: #ffffff;
  padding: 18px 62px 18px 38px;

  &:hover {
    background: #ffffff;
    border: 1px solid #1a3cfa;
    color: #1a3cfa;
  }

  &:before {
    position: absolute;
    font-family: 'icomoon';
    content: '\e901';
    right: 37px;
    top: 50%;
    transform: translateY(-50%);
  }

}


.blue-btn-title {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #ffffff;

  
}

.slider {
  position: relative;

  .slick-prev {

    &:before {

      font-family: 'icomoon';
      position: absolute;
      left: -100%;
      font-size: 45px;
      content: '\e900';
      border-radius: 30px;
      color: #ffffff;
      background-color: #ffffff27;
    }
  }

  .slick-next {

    &:before {
      font-family: 'icomoon';
      right: -100%;
      font-size: 45px;
      content: '\e901';
      border-radius: 30px;
      color: #ffffff;
      background-color: #ffffff27;
    }
  }
}