.jcsb {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.container {
    max-width: 1180px;
    padding: 0 80px;
    margin: 0 auto;
    width:60%;
}

.debug-yellow{
    border: 1px solid yellow;
}

.debug-red{
    border: 1px solid red;
}

.debug-green{
    border: 1px solid green;
}
