h1 {
    // should I change font size in h1 or crate new class?
    margin:0px;
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.2px;
}

h2 {
    margin:0px;
    font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.2px;
  text-align: center;
  
}

h3 {
    margin:0px;
    font-family: CenturyGothic;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.2px;

    
}
h4{
    
}