// colors 
$primary: #ffffff;
$secondary: #fafbfc;
$blue: #1a3cfa;
$light-blue: #7385ec;
$transparent-white: #ffffff27;
$transparent: rgba(255, 255, 255, 0.05);
$transparent-black: #2d2d2d;
$gray:#666666;
$light-gray:#e8e9eb;
$light-white:#f0f0f0;
$desktop: '1441px';
$laptop: '992px';
$tablet: '768px';